.container {
  height: 100vh;
  background: black;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
  padding-right: 50px;
  position: fixed;
  background: black;
  border-bottom: 1px solid #222;
  width: 100%;
}

.navigationBar a {
  margin-left: 22px;
  transition: 0.3s;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;
}

.navigationBar a:hover {
  background: white;
  color: black;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 40px;
}

.mainSection p {
  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.2em;
  color: #FFFFFF;
}

.mainSection h1 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 300px;
  line-height: 300px;
  color: #FFFFFF;
  text-shadow: 15px 0px 0px #416773;
  user-select: none;
  position: absolute;
}

.iconsContainer {
  margin-top: 150px;
}

.iconRow svg {
  margin-left: 5px;
  margin-right: 5px;
}